<div class="main">
  <div class="confms-new-top">
    <div class="confms-new-title">
      <h2>Resend confirmation instructions</h2>
    </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="confms-new-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="confms-new-btn">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
</div>
