<div class="main regis-new">
  <div class="regis-new-top">
    <div class="regis-new-title">
      <h2>Sign up</h2>
    </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="regis-new-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="regis-new-field">
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </div>

        <div class="regis-new-field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> chars min)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="regis-new-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="regis-new-condition">
          <p>
            By clicking on Sign up, you agree to Shares'<br>
            <%= link_to 'Terms and Conditions',"/pages/term", class: "regis-new-term" %>
             and 
            <%= link_to 'Privacy policy',"/pages/privacy", class: "regis-new-privacy" %>
          </p>
        </div>
        <div class="regis-new-btn">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      <%- if devise_mapping.omniauthable? %>
        <%= link_to image_tag("/Sign_in_with_google.png", :width => '200', :height => '45'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[2]), {class: "google"} %><br />
        <%= link_to image_tag("/Continue_with_facebook.png", :width => '200'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[0]), {class: "facebook"} %><br />
        <%= link_to image_tag("/sign_in_twitter.png", :width => '200'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[1]), {class: "twitter"}%><br />
      <% end %>
      <div class="regis-new-message">
        <p>Already have an account?</p>
      </div>
      <div class="regis-new-menu">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
