<div class="main clearfix">
    <div class="pages-top-message">
        <h3>This is the place to master Vocabulary of Japanese !!</br>Please select the genre and start the quizzes!!</h3>
    </div>
    <div class="pages-modern-wrapper">
        <!-- Pronoun -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                Pronoun
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-level">
                    <%= link_to("Lv1", "/quizes/#{@quiz1_1.level}/#{@quiz1_1.theme}/#{@quiz1_1.road}", {class: "pages-modern-btn l1"}) %>
                    <%= link_to("Lv2", "/quizes/#{@quiz1_2.level}/#{@quiz1_2.theme}/#{@quiz1_2.road}", {class: "pages-modern-btn l2"}) %>
                </div>
            </div>
        </div>
        <!-- Adjective -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                Adjective
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-level">
                    <%= link_to("Lv1", "/quizes/#{@quiz2_1.level}/#{@quiz2_1.theme}/#{@quiz2_1.road}", {class: "pages-modern-btn l1"}) %>
                    <%= link_to("Lv2", "/quizes/#{@quiz2_2.level}/#{@quiz2_2.theme}/#{@quiz2_2.road}", {class: "pages-modern-btn l2"}) %>
                    <%= link_to("Lv3", "/quizes/#{@quiz2_3.level}/#{@quiz2_3.theme}/#{@quiz2_3.road}", {class: "pages-modern-btn l3"}) %>
                    <%= link_to("Lv4", "/quizes/#{@quiz2_4.level}/#{@quiz2_4.theme}/#{@quiz2_4.road}", {class: "pages-modern-btn l4"}) %>
                    <%= link_to("Lv5", "/quizes/#{@quiz2_5.level}/#{@quiz2_5.theme}/#{@quiz2_5.road}", {class: "pages-modern-btn l5"}) %>
                    <%= link_to("Lv6", "/quizes/#{@quiz2_6.level}/#{@quiz2_6.theme}/#{@quiz2_6.road}", {class: "pages-modern-btn l6"}) %>
                </div>
            </div>
        </div>
    </div>
</div>
