<div class="main clearfix">
    <div class="pages-top-message">
        <h3>Ths is the place where you can master Japanese! </br> Drop your text book and learn everything you need to know about Japanese here!!</h3>
    </div>
    <div class="pages-index-genre">
        <ul>-
            <li> <%= link_to("Grammar Master", "/pages/grammar", {class: "pages-index-btn"}) %> </li> 
            <li> <%= link_to("Vocabulary Master", "/pages/modern", {class: "pages-index-btn"}) %> </li>
            <%# <%= link_to("Useful phrases", "/quizes/#{@genre_c.genre_id}/#{@genre_c.id}", {class: "pages-index-btn"}) %>
            <%# <%= link_to("Saying", "/quizes/#{@genre_d.genre_id}/#{@genre_d.id}", {class: "pages-index-btn"}) %>
            <%# <%= link_to("Animes", "/quizes/#{@genre_e.genre_id}/#{@genre_e.id}", {class: "pages-index-btn"}) %>
            <%# <%= link_to("Grammar", "/quizes/#{@genre_f.genre_id}/#{@genre_f.id}", {class: "pages-index-btn"}) %>
        </ul>
    </div>
</div>
