<div class="main pages-modern">
    <div class="pages-modern-top">
        <h3>This is the place to master Vocabulary of Japanese !!</br>Please select the genre and start the quizzes!!</h3>
    </div>
    <div class="pages-modern-wrapper">
        <!-- Nature -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre1[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre1[0].thirdgenre %>
                        <%= @genre1[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre1.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                            <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Onomatopoeia -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre2[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre2[0].thirdgenre %>
                        <%= @genre2[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre2.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                            <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Family -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre4[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre4[0].thirdgenre %>
                        <%= @genre4[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre4.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                            <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Adjective -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre5[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre5[0].thirdgenre %>
                        <%= @genre5[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre5.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                            <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- When -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre6[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre6[0].thirdgenre %>
                        <%= @genre6[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre6.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                            <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Counting -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre7_1[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre7_1[0].thirdgenre %>
                        <%= @genre7_1[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre7_1.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                        <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
                <div class="pages-modern-subtitle">
                    <% if @genre7_2[0].thirdgenre %>
                        <%= @genre7_2[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre7_2.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                        <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Verb -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre8[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre8[0].thirdgenre %>
                        <%= @genre8[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre8.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                        <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- Short word -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre9[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre9[0].thirdgenre %>
                        <%= @genre9[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre9.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                        <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- 体 -->
        <div class="pages-modern-quiz">
            <div class="pages-modern-title">
                <%= @genre13[0].subgenre %>
            </div>
            <div class="pages-modern-subwrapper">
                <div class="pages-modern-subtitle">
                    <% if @genre13[0].thirdgenre %>
                        <%= @genre13[0].thirdgenre %>
                    <% end %>
                </div>
                <div class="pages-modern-level">
                    <% @genre13.each_with_index do |genre, i| %>
                        <% @quiz = Quiz.find_by(subgenre_id: genre.sub_id, thirdgenre_id: genre.third_id, level: genre.level) %>
                        <%= link_to("Lv.#{genre.level}", "/quizes/a/#{genre.sub_id}/#{genre.third_id}/#{genre.level}/#{@quiz.id}", {class: "pages-modern-btn l#{genre.level}"}) %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
