<div class="main">
    <div class="main-top">
        <div class="pages-show-title">
            <p>Hello, <%= current_user.username %> さん</p>
        </div>
        <div class="pages-show-favorite">
            <h1>Favorite quizzes</h1>
        </div>
            <!-- ストックしたクイズの表示 -->
            <% @stocks.each_with_index do |stock, i| %>
                <%= form_tag("/pages/#{i}/answer", :remote => true) do %>
                    <% if quiz = Quiz.find_by(id: stock.quiz_id) %>
                        <div class="pages-show-each">
                            <!-- Stock解除のための星表示 -->
                            <div class="pages-show-star">
                                <%= link_to("/stocks/#{quiz.id}/destroy2", {method: "post"}) do %>
                                    <span class="fa fa-star fa-lg like-btn-unlike"></span>
                                <% end %>
                            </div>
                            <div class="pages-show-stock">
                                <%= quiz.content %>
                            </div>
                            <!-- クイズの画像があれば表示 -->
                            <% if !quiz.image_name.blank? %>
                                <img src="<%= "/quizes_image/#{quiz.image_name}" %>", class="pages-show-image">
                            <% end %>
                            <!-- 正解表示 -->
                            <div class="pages-show-answer a<%= i %>">
                                <p><%= quiz.correct_answer %></p>
                            </div>
                            <!-- 回答表示のボタン -->
                            <% if !quiz.correct_answer.blank? %>
                                <input class="pages-show-btn b<%= i %>" type="submit" name="answer" value="A">
                            <% end %>
                            <!-- 解説表示 -->
                            <div class="pages-show-explanation c<%= i %>">
                                <p><%= quiz.explanation %></p>
                            </div>
                            <!-- 解説表示のボタン -->
                            <% if !quiz.explanation.blank? && quiz.correct_answer.blank? %>
                                <input class="pages-explanation-btn2 f<%= i %>" type="submit" name="explanation" value="E">
                            <% elsif !quiz.explanation.blank? %>
                                <input class="pages-explanation-btn d<%= i %>" type="submit" name="explanation" value="E">
                            <% end %>
                            <!-- 音声 -->
                            <div class="pages-show-sound e<%= i %>">
                                <% if !quiz.audio.blank? %>
                                    <%= audio_tag(quiz.audio,controls:true) %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <div class=pages-show-change>
            <li> <%= link_to 'Change profile', edit_user_registration_path %> </li>
        </div>
    </div>
</div>
