<div class="main sessions-new">
  <div class="sessions-new-top">
    <div class="sessions-new-title">
      <h2>Log in</h2>
      <%= flash[:alert]%>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="sessions-new-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="sessions-new-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      <% if devise_mapping.rememberable? %>
        <div class="sessions-new-check-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      </div>
      <div class="sessions-new-btn">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%- if devise_mapping.omniauthable? %>
      <%= link_to image_tag("/Sign_in_with_google.png", :width => '200', :height => '45'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[1]), {class: "google"} %><br />
      <%= link_to image_tag("/Continue_with_facebook.png", :width => '200'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[0]), {class: "facebook"} %><br />
      <%= link_to image_tag("/sign_in_twitter.png", :width => '200'), omniauth_authorize_path(resource_name, resource_class.omniauth_providers[2]), {class: "twitter"}%><br />
    <% end %>
    <div class="sessions-new-message">
      <p>You don't have an account?</p>
    </div>
    <div class="sessions-new-menu">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
