<!DOCTYPE html>



<html>
  <head>
    <title>Japanese Master</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- viewportをインポートしてどの画面でも等倍で表示、かつresponsive designはresponsive.cssから読み込む -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="responsive.scss">
  </head>

  <body data-turbolinks="false">
    <header id="header">
      <div class="header-logo">
          <a href="/">Japanese Master</a>
      </div>
        <nav>
        <div class="header-summary">
            <a class="fa fa-bars menu-icon"></a>
          <div class="header-list">
            <% if user_signed_in? %>
              <ul>
                <% if current_user.id == 1 %>
                  <li> <%= link_to 'Post quiz',"/quizes/new" %> </li>
                <% end %>
                <li> <%= link_to 'My page', "/pages/show" %> </li>
                <li> <%= link_to 'Log out', destroy_user_session_path, method: :delete %> </li>
                <%# 自分のteamを呼び出す %>
                <% team = Team.find_by(user_id: current_user.id) %>
                <%# teamを持っていなかった場合 %>
                <% if team == nil %>
                  <li>
                    <%# カードを登録して月額課金を初めて開始するリンクを表示する(edit.html.erb) %>
                    <%= link_to 'Be patron', card_edit_path %>
                  </li>
                <% end %>
                <%# teamを持ってた場合 %>
                <% if team != nil %>
                  <%# サブスクリプションIDがなかった場合 %>
                  <% if team.stripe_subscription_id == nil %>
                    <li>
                      <%# 月額課金を再開する画面へのリンクを表示(前回作ったteamを使ってサブスクリプションを作成させる)(restart.html.erb) %>
                      <%= link_to 'Be patron', card_restart_path %>
                    </li>
                  <% end %>
                  <%# サブスクリプションIDがあった場合 %>
                <% end %>

              </ul>
            <% else %>
              <ul>
                <li> <%= link_to 'Log in', new_user_session_path %> </li>
                <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
              </ul>
            <% end %>
          </div>
        </div>
        </nav>
        <!-- ケータイ画面でのハンバーガーメニューの表示/非表示 -->
        <script> 
            $(function(){
              $('.menu-icon').on('click', function(){
                $('.header-list').toggleClass('is-active');
              });
            }());
        </script>
    </header>
    <!-- フラッシュメッセージの表示 -->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <div class="footer-item">
        <ul>
          <li> <%= link_to 'Privacy policy',"/pages/privacy", class: "footer-item" %> </li>
          <li> <%= link_to 'Act on specified commercial transactions',"/pages/commercial", class: "footer-item" %> </li>
          <li> <%= link_to 'Terms and Conditions',"/pages/term", class: "footer-item" %> </li>
        <ul>
      </div>
    </footer>
  </body>
</html>
